/*======= Font rengini #3C373B yapan bir yeni bir universal selector yaratın*/
* {
  color: #3C373B;
}


h1 {
  font-family: 'Dancing Script', cursive;
  margin: 20px 0;  
  /*=======  Font size'ı 60px yapın ve text'i ortalayın(center) */
  font-size: 60px;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Dancing Script', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  /*=======  Font size'ı 30px yapın*/
  font-size: 30px;
  
}

p{
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
}

img{  
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  object-position: center; 
}

.content-row {
  display: flex;
}

.content-row img{
  width: 40%; 
  object-fit: contain;
}

.content-row div {
  margin: 20px;  
}

.container {  
  margin: 0 auto;
  width: 705px; ;
}

.full-width{
width: 100%;
background-color: aliceblue;
padding: 30px 0 30px 0;
}

.container header nav{
  display: flex;  
  justify-content: space-between;
}

.container header nav a {
  font-size:17px;  
  font-family: 'Dancing Script', cursive;
  margin: 0 19px 18px 0;
  border: 1px solid lightgray;
  padding: 10px 21px 10px 21px;  
  border-radius: 10px;
  color: white;
  text-decoration: none;
  background: rgb(231, 153, 71);  
}

.container header nav a:hover {
  background: rgb(231, 153, 71, 0.15);
  color: #E79947;
  border: none;
  transition: background-color 0.3s ease;
/*======= background property yaratın ve değeri white olsun.  Sonra, color property yaratın ve değerini yapın. */
}

/*======= Hakkmızda bölümü için aşağıdaki stilleri içeren bir selector yaratın:
  margin-top: 20px;
*/
.about-section{
  margin-top: 20px;
  
}

.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
  text-align: center;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

/*======= contact-section class'da address tag'i için aşağdıaki stilleri içeren bir selector yaratın:
   line-height: 2;
*/
.contact-section address {
  line-height: 2;
}


footer {
  width: 100%;
  background: #E79947;
  border-top: 1px dashed white;  
  text-align: center;
}



footer .footer-content{ 
  margin: 0 auto; 
  /*======= width property yaratın. Değerini 605px olarak atayın */
  width: 705;  
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
  margin-left: 34%;
}

/*======= Footer'daki anchor tag için aşağıdaki stilleri içeren bir selector yaratın:
  margin: 10px;
  color: black;
  text-decoration: underline;
*/
footer a {
  margin: 15px;
  padding-left: 10px;
  color: black;
  text-decoration:underline;  
  
}


/*======= Footer nav'daki anchor tag için aşağıdaki stilleri içeren bir hover state yaratın:
  color: white;
*/
footer nav a:hover {
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
}
